SERVICE_NAME=task-service
NODE_ENV=development
PORT=3002
DATABASE_URL=postgres://postgres:postgres@localhost:5432/task_db
JWT_SECRET=super_secret_jwt_key_for_local_dev_only
JWT_EXPIRES_IN=1h
EVENT_BUS_NAME=local-event-bus
AWS_REGION=us-east-1
JWT_PUBLIC_KEY=super_secret_jwt_key_for_local_dev_only
JWT_ISSUER=auth-service
APP_BASE_URL=http://localhost:5173
USER_SERVICE_BASE_URL=http://localhost:3000
USER_SERVICE_INTERNAL_TOKEN=internal_service_token
DEFAULT_PAGE_LIMIT=20
MAX_PAGE_LIMIT=100
AWS_ENDPOINT_URL=http://localhost:4566  