SERVICE_NAME=category-service
NODE_ENV=development
RUN_LOCAL=true
PORT=3005
DATABASE_URL=postgres://postgres:postgres@localhost:5432/category_db
EVENT_BUS_NAME=local-event-bus
AWS_REGION=us-east-1
JWT_SECRET=super_secret_jwt_key_for_local_dev_only
JWT_ISSUER=auth-service
AWS_ENDPOINT_URL=http://localhost:4566