SERVICE_NAME=reporting-service
NODE_ENV=development
PORT=3008
DATABASE_URL=postgres://postgres:postgres@localhost:5432/reporting_db
JWT_SECRET=super_secret_jwt_key_for_local_dev_only
JWT_EXPIRES_IN=1h
EVENT_BUS_NAME=local-event-bus
AWS_REGION=us-east-1
JWT_PUBLIC_KEY=super_secret_jwt_key_for_local_dev_only
JWT_ISSUER=auth-service
AWS_ENDPOINT_URL=http://localhost:4566